@import "tailwindcss";

body {
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
  background-color: rgb(0, 0, 0);

}

/* In your CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* global.css or index.css */
.stack-container {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.animate-out {
  transform: scale(0.9);
  opacity: 0;
}

.spin-animation {
  animation: spin 0.6s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}